.globalContainer {
  background-image: url("../assets/bg_home1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: bottom;
  height: 75vh;
}
